.field-data-container,
.field-chart-container {
    display: flex;
    flex-direction: row;
    padding: 15px 30px 5px;
    gap: 20px;
}

.row-data-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

@media (max-width: 1829px) {
    .field-data-container {
        flex-direction: column;
    }
}

@media (max-width: 1629px) {
    .row-data-container {
        flex-direction: column;
    }
}

@media (max-width: 599px) {
    .field-data-container,
    .field-chart-container {
        padding: 10px 2px;
    }
}