.main-layout .home-page-container {
    overflow-x: scroll;
    background-image: url('@/assets/sunflowers-opacity0.5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.greeting-container {
    padding: 50px 50px 10px;
    color: #406064;
}

.greeting-header {
    font-weight: bold;
    font-size: 32px;
}

.greeting {
    font-size: 18px;
}

.row-charts {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1840px) {
    .row-charts {
        flex-direction: column;
    }
}

@media (max-width: 599px) {
    .row-charts {
        padding: 2px;
        gap: 30px;
    }

    .greeting-container {
        padding: 10px;
        margin-bottom: 20px;
    }

    .greeting-header {
        font-size: 24px;
    }

    .greeting {
        font-size: 16px;
    }
}