.breeding-content-container {
    display: flex;
    flex-direction: column;
    min-height: 83vh;
}

.breeding-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F5F5;
    border: 2px solid #FFFFFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: none;
}

.breeding-content-herd-name {
    padding: 20px;
    color: #406064;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breeding-content-button-group {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 15px;
    gap: 20px;
}

.breeding-content-selector-container {
    padding: 20px 20px 15px;
    width: 100%;
}

.breeding-content-selector {
    width: 80%;
}

.breeding-content-tools-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.breeding-content-tools-container .breeding-content-tools-button {
    height: 37px;
}

.breeding-content-tools-button .breeding-content-tools-icon{
    font-size: 24px;
    vertical-align: middle;
}

.breeding-content-button-group .breeding-content-add-cow-button {
    width: 180px;
    height: 37px;
}

.breeding-content-add-cow-button .breeding-content-add-cow-icon {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 6px;
}

@media (max-width: 1260px) {
    .breeding-content-header {
        flex-direction: column;
    }

    .breeding-content-selector {
        width: 100%;
    }

    .breeding-content-button-group {
        padding-top: 0;
    }

    .breeding-content-button-group .breeding-content-add-cow-button {
        width: 100%;
    }

    .breeding-content-tools-container .breeding-content-tools-button {
        height: 30px;
    }

    .breeding-content-tools-button .breeding-content-tools-icon{
        font-size: 20px;
    }

    .breeding-content-button-group .breeding-content-add-cow-button {
        height: 30px;
    }

    .breeding-content-add-cow-button .breeding-content-add-cow-icon {
        font-size: 24px;
    }
}

@media (max-width: 850px) {
    .breeding-content-button-group {
        flex-direction: column;
        padding-top: 0;
    }

    .breeding-content-tools-container .breeding-content-tools-button {
        width: 100%;
    }
}
