.cows-table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow-x: auto;
}

.cows-table-container .th,
.cows-table-container .th-l,
.cows-table-container .th-r {
    background-color: #F5F5F5;
}

.cows-table-container .th-l {
    border-left: 2px solid #FFFFFF;
}

.cows-table-container .th-r {
    border-right: 2px solid #FFFFFF;
}

.table-body-container {
    overflow-y: auto;
    max-height: 58vh;
}

.no-results {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    color: #9B9B9B;
    font-style: italic;
}

.cows-paginator {
    margin-top: auto;
    align-self: center;
}

.center-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-button {
    min-width: 30px !important;
}

.table-button .table-icon {
    font-size: 20px;
}

@media (max-width: 1510px) {
    .table-body-container {
        max-height: 56vh;
    }
}

@media (max-width: 1000px) {
    .table-body-container {
        max-height: 80vh;
    }
}