.cows-table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow-x: auto;
}

.cows-table-container .th,
.cows-table-container .th-l,
.cows-table-container .th-r {
    background-color: #F5F5F5;
    font-size: 14px;
    /*padding: 10px;*/
    text-align: center;
}

.cows-table-container .th-l {
    border-left: 2px solid #FFFFFF;
}

.cows-table-container .th-r {
    border-right: 2px solid #FFFFFF;
}

.table-body-container {
    overflow-y: auto;
    max-height: 56vh;
}

.table-body-container .no-results-cell {
    border: none;
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9B9B9B;
    font-style: italic;
    height: 40vh;
}

.cows-paginator {
    margin-top: auto;
    align-self: center;
}

.table-body-container .center-cell {
    text-align: center;
}

.table-button {
    min-width: 30px !important;
}

.table-button .table-icon {
    font-size: 20px;
}

@media (max-width: 1510px) {
    .table-body-container {
        max-height: 55vh;
    }
}

@media (max-width: 1400px) {
    .cows-table-container .th,
    .cows-table-container .th-l,
    .cows-table-container .th-r {
        padding: 10px;
    }

    .table-body-container .center-cell {
        padding: 15px;
    }

    .table-button {
        width: 50px;
    }

    .table-button .table-icon {
        font-size: 18px;
    }
}

@media (max-width: 1240px) {
    .cows-table-container .th,
    .cows-table-container .th-l,
    .cows-table-container .th-r {
        padding: 5px;
    }

    .table-body-container .center-cell {
        padding: 10px;
    }
}

@media (max-width: 1000px) {
    .table-body-container {
        max-height: 80vh;
    }
}