.drawer {
    width: 300px;
}

.drawer .MuiDrawer-paper {
    width: 300px;
    box-sizing: border-box;
    border-right: none;
    box-shadow: none;
    background: #E5F5F2;
    display: flex;
    align-items: center;
}

.drawer .MuiDrawer-paper .logo-box {
    margin-top: 50px;
    display: flex;
}

.drawer .MuiDrawer-paper .logo-box .logo{
    width: 30px;
    margin-right: 8px;
}

.drawer .MuiDrawer-paper .logo-box .logo-text {
    color: #406064;
    font-size: 24px;
    font-weight: bold;
}