.main-text-box {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.main-text-box .header {
    font-size: 72px;
    font-weight: bold;
    color: #414040;
}

.main-text-box .text {
    font-size: 18px;
    margin: 2vh 30% 8vh;
    color: #484747;
}

.main-text-box .start-button {
    width: 250px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid;
}

.parallax-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-section .parallax-text {
    color: whitesmoke;
    font-size: 100px;
    font-weight: bold;
}

.parallax-section .logo {
    width: 500px;
}

.section-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    margin: 10vh 30%;
}

.section-text-box .text {
    font-size: 18px;
    color: #414040;
}

.section-text-box .icon {
    font-size: 48px;
}

.footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer .footer-text {
    font-size: 18px;
}

.footer .link {
    text-decoration: none;
    color: inherit;
}

.footer .icon {
    font-size: 16px;
    margin-right: 4px;
}

@media (max-width: 599px) {
    .main-text-box {
        margin: 8vh 1vh;
    }

    .main-text-box .header {
        font-size: 42px;
    }

    .main-text-box .text {
        font-size: 14px;
        margin: 2vh 3vh 6vh;
    }

    .main-text-box .start-button {
        width: 160px;
        height: 40px;
        letter-spacing: 2px;
    }

    .parallax-section .parallax-text {
        font-size: 48px;
    }

    .parallax-section .logo {
        width: 250px;
    }

    .section-text-box {
        margin: 10vh 5%;
    }

    .section-text-box .text {
        font-size: 14px;
    }

    .section-text-box .icon {
        font-size: 32px;
    }
}