.profile-details {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-buttons .profile-button {
    width: 160px;
    margin-right: 30px;
}

.profile-button .profile-button-icon,
.change-passwd-button .profile-button-icon,
.delete-acc-button .profile-button-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
}

.profile-buttons .delete-acc-button {
    width: 210px;
    margin-right: 30px;
    margin-left: 30px;
}

.profile-buttons .change-passwd-button {
    width: 210px;
    margin-right: 30px;
}

.profile-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-item .item-header {
    color: #406064;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.profile-data-container {
    width: 30%;
    margin-bottom: 20px;
}

.profile-data-container .profile-data-input {
    width: 80%;
    margin-left: 5px;
}

.layout-container .profile-text {
    color: #406064;
    font-size: 18px;
    font-weight: bold;
}

.layout-container .profile-data {
    color: #5b7073;
    font-size: 18px;
    margin-left: 32px;
}

.profile-text .profile-icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 6px;
}

@media (max-width: 1299px) {
    .profile-details {
        flex-direction: column;
    }

    .profile-buttons {
        margin-top: 0;
        display: block;
        flex-direction: unset;
        justify-content: unset;
    }

    .profile-buttons-acc-passwd {
        margin-top: 30px;
    }

    .profile-buttons-acc-passwd,
    .profile-buttons-edit {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        gap: 10px;
    }

    .profile-button .profile-button-icon,
    .change-passwd-button .profile-button-icon,
    .delete-acc-button .profile-button-icon {
        font-size: 14px;
        margin-right: 8px;
    }

    .profile-buttons .profile-button {
        margin-top: 10px;
    }

    .profile-buttons .delete-acc-button,
    .profile-buttons .change-passwd-button,
    .profile-buttons .profile-button {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        font-size: 14px;
    }

    .profile-item {
        width: 100%;
        align-items: center;
    }

    .profile-item .item-header {
        font-size: 20px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .profile-data-container {
        width: calc(100% - 5%);
        margin-bottom: 15px;
        margin-left: 5%;
    }

    .profile-data-container .profile-data-input {
        width: 85%;
    }

    .layout-container .profile-text {
        font-size: 16px;
    }

    .layout-container .profile-data {
        font-size: 16px;
    }

    .profile-text .profile-icon {
        font-size: 18px;
        margin-right: 8px;
    }
}