.cows-charts-data-container .chart-details {
    font-style: italic;
    margin-left: 10px;
    color: #5b5b5b;
    font-size: 14px;
}

.chart-container {
    background-color: #F8F8F8;
    border: 2px solid #2CB178;
    border-radius: 16px;
    padding: 15px 15px 10px;
}

.chartGrid {
    stroke: rgb(228, 225, 225);
}

.milking-chart-buttons .add-lactation-button {
    font-size: 12px;
}

.add-lactation-button .add-lactation-icon{
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
}