.cows-charts-data-container .chart-details {
    font-style: italic;
    margin-left: 10px;
    color: #5b5b5b;
    font-size: 14px;
}

.chart-container {
    background-color: #F8F8F8;
    border: 2px solid #2CB178;
    border-radius: 16px;
    padding: 15px 15px 10px;
    min-height: 34vh;
}

.chartGrid {
    stroke: rgb(228, 225, 225);
}

.no-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}

.chart-no-results {
    color: #9B9B9B;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.lactation-period-single {
    padding: 5px;
    color: #406064;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.milking-chart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    gap: 20px;
}

.lactation-period-selector-container {
    width: 250px;
}

.lactation-period-selector {
    width: 100%;
}

.milking-chart-buttons .add-lactation-button {
    font-size: 12px;
}

.add-lactation-button .add-lactation-icon{
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
}

@media (max-width: 1399px) {
    .milking-chart-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 15px;
        gap: 20px;
    }

    .lactation-period-single {
        width: 100%;
    }

    .milking-chart-buttons .add-lactation-button {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .milking-chart-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .lactation-period-single {
        text-align: center;
    }

    .lactation-period-selector-container {
        width: 100%;
    }
}

@media (max-width: 599px) {
    .cows-charts-data-container .chart-details {
        font-size: 12px;
    }

    .chart-no-results {
        font-size: 12px;
    }
}